<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.swuos.swuassistant"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="com.swuos.swuassistant.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.swuos.swuassistant.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            >
        </activity>
        <activity android:name="com.swuos.swuassistant.SettingActivity"/>

        <service android:name="com.swuos.Service.ClassAlarmService"></service>
        <receiver android:name="com.swuos.ALLFragment.swujw.schedule.DateChangeRecevier">
            <intent-filter>
                <action android:name="com.swuos.ALLFragment.swujw.schedule.SCHEDULEDATECHANGE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
